.main-user-container{
    padding: 50px 0;
    background-color: #f5f5f5;
    transition: 300ms ease;
}
.secondRow{
 padding-top: 32px;
}
.user-icons{
  cursor: pointer;
  transition: 300ms ease;
 
}

.user-section{
    width: 96%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    min-height: 86vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 300ms ease;
    
    
}
.userWrite{
    font-size: 28px;
    color: #353535;
    font-weight: 600;
    padding-left: 42px;
    transition: 300ms ease;
}
.button-container{
    padding-right: 42px; 
}
.button-box{
    padding: 8px 40px;
    background-color:  	#007bff;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 300ms ease;
}
.button-class-detail{
  border: none;
  background-color: #007bff;
  padding: 8px 24px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  margin-right: 16px;
  transition: 0.3s ease;
}
.button-class-detail:focus{
background-color: rgb(227, 227, 227);
}
.list-img{
    width: 35px;
    height: 35px;
}
.button-write{
    font-weight: 500;
    color: #FFFFFF;
}
.link-add{
    text-decoration: none;
    color: #FFFFFF;
}
.userLink{
    color: #353535;
}
.userLink:hover{
    color: #28282881;;
}
.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d3d3dbe;
    padding: 16px 0;
    background-color: #f9f9f9;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 0.1px solid rgb(239, 239, 239);
    border-top: 0.1px solid rgb(239, 239, 239);
    transition: 300ms ease;
}
.second-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282828;
    background-color: #FFFFFF;
    height: 60px;
    border-bottom: 0.1px solid rgb(228, 228, 228);
    font-size: 14px;
    transition: 300ms ease;
}




/* dark-light mod start */
.darkOrLight-label{
    position: absolute;
    right: 485px;
    top: 38px;
}


:root {
    --light: #ecedf0;
    --dark: #bcd0e4;
  }

  
  .toggle-switch {
    position: relative;
    width: 200px;
  }
  
  .darkOrLight-label {
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
    
  }
  
  .darkOrLight-label-input {
    position: absolute;
    display: none;
    
  }
  
  .slider {
    position: absolute;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    transition: 0.3s;
    
    
  }
  
  .darkOrLight-label-input:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 11px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset 5px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }
  
  .darkOrLight-label-input:checked ~ .slider::before {
    transform: translateX(25px);
    background-color: var(--dark);
    box-shadow: none;
  }

  /* loading start */
  .datas-loading{
    
    background-color: transparent;
    border: 6px solid rgb(65, 166, 230);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-top: 6px solid transparent;
    animation: kenarlik 0.7s linear infinite;
  }

  @keyframes kenarlik{
    from{
      transform: rotate(0deg);
    }to{
      transform: rotate(360deg);
    }
  }