.main-details-container{
    padding: 50px 0;
    background-color: #f5f5f5;
   
}
.details-section{
    width: 72%;
    margin: 0 auto;
    background-color: rgb(251, 251, 251);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.firstDetails{
    padding: 64px 24px 64px 72px ;
}
.firstDetailsWrapper{
    border-radius: 10px;
    padding: 64px 0;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.first-details-p{
    font-weight: 700;
    margin: 0;
    font-size: 21px;
    color: #383838;
    padding: 0 0 32px;
}
.details-img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.second-details-p{
    padding: 36px 0;
    color: #555555;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}
.detailsButton{
    border-radius: 12px;
    background-color: #002B5B;
    padding: 10px 32px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    border-bottom: 3px solid #001e3f;
    
}
.userListLink{
    text-decoration: none;
    color: #FFFFFF;
}
.userListLink:hover{
    color: #FFFFFF;
}
.secondDetails{
    padding: 64px 72px 64px 32px !important;
}
.secondDetailsWrapper{
    border-radius: 10px;
    padding: 64px 32px 85px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.secondWriteWrapper{
    padding: 36px 0 26px;
    border-bottom: 1px solid gray;
}
.secondWrite-div{
font-weight: 700;
padding: 0 16px 0 0;
font-size: 17px;
color: #303030;
}
.secondWriteLast-div{
font-weight: 500;
color: #323232;
font-size: 17px;
}
.secondWriteIcon{
    color: #002B5B;
    font-size: 21px;
    display: flex;
    align-items: center;
    padding-right:16px;
}